@import '../../Styles/colors';

.sidebar {    
    display: flex;
    flex-direction: column;
    background-color:lightslategray;
    padding: 5%;
    margin-top: 1%;
    border-radius: 5px;
    position: relative;
    align-items: center;
    box-shadow:16px 14px 13px -9px rgba(0,0,0,0.76);
    .x{
       margin-left: 260px;
       color: white;
    }
    p {
        text-align: center;
        color: $color-primary-button;
        color:white;
    }
}