.column {
    width: 250px;
    height: auto;
    border-radius: 5px;
    background-color: rosybrown;
    padding: 5px;   
    display: flex;
    flex-direction: column;
    margin: 1%;    
    align-items: center;
    color: white;
}
