body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
body .header {
  position: fixed;
  background-color: white;
  height: 12%;
  width: 100%;
  z-index: 1;
  left: 94px;
}
body .header #searchDiv {
  display: flex;
  padding: 30px;
}
body .header #searchDiv .sinborde {
  font-size: 17px;
  color: gray;
  margin-left: 1%;
  border: 0;
  outline: none;
}
body .header #searchDiv img {
  width: 20px;
  opacity: 0.5;
}
body .main-wrapper {
  margin-left: 95px;
}
body .section-up {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 455px;
}
body .section-up .banner-image {
  background-image: url(../imagenes/batman.jpg);
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 32%;
  height: 100%;
}
body .section-up .banner-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(247, 247, 247, 0.7);
}
body .section-up #title-banner {
  height: 85vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
body .section-up #title-banner h1 {
  font-weight: 500;
  font-size: 30px;
  opacity: 0.9;
  width: 100%;
}
body #lista-categorias {
  background-color: white;
  width: 95px;
  height: 100%;
  position: fixed;
}
body #lista-categorias #img-logo {
  background-color: black;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
  height: 7%;
  width: 100%;
  opacity: 0.9;
}
body #lista-categorias #img-logo img {
  width: 85%;
  height: 85%;
  margin-top: 6px;
}
body #lista-categorias #img-logo:hover img {
  transform: scale(1.03);
  transition-duration: 0.6s;
}
body #lista-categorias .container-category {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}
body #lista-categorias .container-category .imgCateg {
  height: 22px;
  opacity: 0.5;
}
body #lista-categorias .container-category .imgCategArrow {
  height: 15px;
  opacity: 0.5;
}
body #lista-categorias .container-category .textCategory {
  font-size: 10px;
  font-weight: unset;
  opacity: 0.5;
}
body #lista-categorias .container-category:hover .imgCateg {
  opacity: 1;
}
body #lista-categorias .container-category:hover .imgCategArrow {
  opacity: 1;
}
body #lista-categorias .container-category:hover .textCategory {
  opacity: 1;
}
body #lista-categorias #lista-categorias:hover {
  cursor: pointer;
}
body .section-down {
  background-color: whitesmoke;
  padding-top: 3%;
  padding-right: 3%;
  margin-left: 0px;
}
body .section-down .show-movie {
  display: flex;
}
body .section-down .show-movie .movie-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .section-down .show-movie .movie-container img {
  width: 80%;
  display: flex;
}
body .section-down .show-movie .movie-container .movies-item-title {
  font-weight: lighter;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  color: rgba(8, 28, 36, 0.5);
  width: 80%;
}
body .section-down .movie-container:hover .movies-item-title {
  color: black;
  cursor: pointer;
}
body .section-down .movie-container:hover img {
  transform: scale(1.03);
  transition-duration: 0.6s;
  cursor: pointer;
}
body .section-down .section-movies-container {
  width: 100%;
  margin-left: 2%;
}
body .section-down .section-movies-container .section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 2%;
}
body .section-down .section-movies-container .section h2 {
  height: fit-content;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  color: #081c24;
  padding-left: 2%;
}
body .section-down .section-movies-container .section .view {
  opacity: 0.5;
  font-size: 11px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 2%;
}
body .section-down .section-movies-container .section .view:hover {
  cursor: pointer;
}
body .ocultar {
  display: none;
}

.fondo-black-modal {
  height: 100vh;
  background-color: rgba(8, 28, 36, 0.98);
  display: flex;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: auto;
}

.modal-box {
  height: 640px;
  position: absolute;
  z-index: 2;
  width: 58%;
  margin-left: 16%;
  margin-top: 10%;
}
.modal-box .movie {
  position: relative;
}
.modal-box .movie .movie-info {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 44%;
  font-size: 14px;
  height: 475px;
  padding-bottom: 5%;
  width: 100%;
  margin-bottom: 5%;
}
.modal-box .movie-container {
  width: 98%;
}
.modal-box .movie-container #movie-profile {
  width: 296px;
  height: 450px;
}
.modal-box .movie-container .movie-title {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: absolute;
  padding-left: 47%;
  padding-top: 12%;
  font-weight: 300;
  line-height: 1.8;
}
.modal-box .movie-container .movie-title #movie-tagline {
  font-size: 14px;
  color: white;
  font-weight: 300;
  margin-top: 0;
}
.modal-box .movie-container #movie-title-text {
  color: indianred;
  font-size: 30px;
  margin-bottom: 0px;
  line-height: 1.8;
}
.modal-box .movie-container .movie-main {
  display: flex;
}
.modal-box .movie-container #movie-overview {
  height: 475px;
  font-weight: 300;
  line-height: 1.8;
  margin: 7%;
}
.modal-box .movie-container .movie-details {
  margin: 7%;
}
.modal-box .movie-container .movie-details .movie-details-genre-title {
  color: indianred;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 0px;
}
.modal-box .movie-container .movie-details #movie-details-genre-text {
  font-weight: 300;
  line-height: 1.8;
}
.modal-box .movie-container .movie-details .movie-details-date-title {
  color: indianred;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 0px;
}
.modal-box .movie-container .movie-details #movie-details-date-text {
  font-weight: 300;
  line-height: 1.8;
}
.modal-box .movie-container .movie-header:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 28, 36, 0.85);
}
.modal-box .movie-container .movie-header {
  height: 315px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #081c24;
}
.modal-box .movie-container .movie-header #movie-poster-background {
  width: 100%;
  height: 100%;
  position: absolute;
}
.modal-box .movie-container .movie-header .movie-poster-container {
  width: 35%;
  height: 400px;
  display: flex;
  position: absolute;
  margin-top: 13%;
}
.modal-box #modal-button-close {
  position: absolute;
  top: 0px;
  right: 15px;
  border: 0;
  background: transparent;
  width: 40px;
  height: 40px;
  transition: background 0.5s ease;
  cursor: pointer;
  font-size: 20px;
  color: white;
  outline: none;
}
.modal-box #modal-button-close:hover {
  background-color: indianred;
}

.ocultar {
  display: none;
}

.fijar {
  position: fixed;
}

#allmovies-for-category {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  padding-top: 10%;
  flex-direction: column;
  align-items: center;
}
#allmovies-for-category.ocultar {
  display: none;
}
#allmovies-for-category #container-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}
#allmovies-for-category #container-movies .movie-main {
  width: 17%;
  height: 200%;
  margin-top: 4%;
}
#allmovies-for-category #container-movies .movie-main img {
  width: 90%;
}
#allmovies-for-category #container-movies .movie-main p {
  font-weight: lighter;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  color: rgba(8, 28, 36, 0.5);
  width: 80%;
}
#allmovies-for-category #container-movies .movie-main:hover {
  transform: scale(1.03);
  transition-duration: 0.6s;
  cursor: pointer;
}
#allmovies-for-category #container-movies .movie-main:hover p {
  color: black;
  cursor: pointer;
}
#allmovies-for-category #load-more {
  height: 93%;
  width: 115px;
  margin-bottom: 25px;
  margin-top: 4%;
  height: 38px;
  border: 0;
  border: 1px solid;
  background-color: whitesmoke;
  outline: none;
}
#allmovies-for-category #load-more:hover {
  background-color: black;
  color: white;
}

.title-cat {
  background-color: whitesmoke;
  height: 100%;
  width: 86%;
  display: flex;
  justify-content: space-between;
}
.title-cat #title-category {
  height: fit-content;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
}
.title-cat #numbers-movies {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  opacity: 0.6;
}

.ocultar-section {
  display: none;
}

@media (max-width: 1200px) {
  .img-container:nth-of-type(5) {
    display: none;
  }
}
@media (max-width: 1050px) {
  .img-container {
    width: 40%;
  }
  .img-container img {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .category-wrap {
    justify-content: center;
  }

  .img-container {
    width: 40%;
  }
  .img-container img {
    width: 100%;
  }

  .banner-img {
    height: 300px;
  }

  .nav-list {
    background-color: transparent;
  }
  .nav-list ul {
    display: none;
  }

  .full-content {
    padding-left: 0;
  }

  .header-titles {
    margin: 2% 0;
  }

  .img-category {
    display: block;
  }

  .img-logo {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
