.fondo-black-modal {
  height: 100vh;
  background-color: rgba(8,28,36,.98);
  display: flex;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: auto;
}
.modal-box {
  height: 640px;
  position: absolute;
  z-index: 2;
  width: 58%;
  margin-left: 16%;
  margin-top: 10%;
  // display: none;
  .movie {
    position: relative;
    .movie-info {
      background-color: white;
      display: flex;
      flex-direction: column;
      padding-left: 44%;
      font-size: 14px;
      height: 475px;
      padding-bottom: 5%;
      width: 100%;
      margin-bottom: 5%;
    }
  }
  .movie-container {
    width: 98%;
    #movie-profile{
      width: 296px;
      height: 450px;
    }
    .movie-title{
      display: flex;
      flex-direction: column;
      width: 40%;
      position: absolute;
      padding-left: 47%;
      padding-top: 12%;
      font-weight: 300;
      line-height: 1.8;
      #movie-tagline{
        font-size: 14px;
        color: white;
        font-weight: 300;
        margin-top: 0;
      }
    }
    #movie-title-text {
      color: indianred;
      font-size: 30px;
      margin-bottom: 0px;
      line-height: 1.8;
    }
    .movie-main {
      display: flex;
    }
    #movie-overview {
      height: 475px;
      font-weight: 300;
      line-height: 1.8;
      margin: 7%;
    }
    .movie-details {
        margin: 7%;    
      .movie-details-genre-title {
        color: indianred;
        font-weight: 300;
        line-height: 1.8;
        margin-bottom: 0px;
      }
      #movie-details-genre-text{
        font-weight: 300;
        line-height: 1.8;
      }
      .movie-details-date-title {
        color: indianred;
        font-weight: 300;
        line-height: 1.8;
        margin-bottom: 0px;
      }
      #movie-details-date-text{
        font-weight: 300;
        line-height: 1.8;
      }
    }

    .movie-header:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: rgba(8,28,36,.85);
  }
    .movie-header {
      height: 315px;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: #081c24;

      #movie-poster-background{
          width: 100%;
          height: 100%;
          position: absolute;
      }
      .movie-poster-container {
        width: 35%;
        height: 400px;
        display: flex;
        position: absolute;
        margin-top: 13%;
      }
    }
  }
  #modal-button-close {
    position: absolute;
    top: 0px;
    right: 15px;
    border: 0;
    background: transparent;
    width: 40px;
    height: 40px;
    transition: background .5s ease;
    cursor: pointer;
    font-size: 20px;
    color: white;
    outline: none;
  }
  #modal-button-close:hover {
    background-color: indianred; 
    }
}
.ocultar{
    display: none;
}
.fijar {
    position: fixed;
}