
// colores
$main-color: rgb(255, 118, 76);
$biografia-color: rgb(253,226,218);
$font-color: rgba(131, 130, 130, 0.849);

// fuentes
$cursive-font: "Indie Flower", cursive;
$main-font: "IBM Plex Mono", monospace;

