@import '../../Styles/colors';

.input-description{
    width: 100%;   
    color: $color-primary-button;
    box-sizing: border-box;
    border-radius: 3px;
    display: block;
    line-height: 20px;    
    border: none;   
    margin-bottom: 4px;
    padding: 5px 10px;
    resize: none;
    height: 54px;
    font-family: inherit;
}
.guardar-descripcion{
    background-color: rosybrown;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 32px;
    margin-top: 8px;
    max-width: 300px;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    font-size: 14px;
    color: white;
    &:hover {
        background-color:$color-primary-button;
        color:white;
    }
    &:active {
        background-color: #e4f0f6;
        box-shadow: none;
        border: none;
        color: $color-primary-button;
    }
}